{{#if addNewPost}}
<form class="" action="index.html" method="post">
  <div class="form-group">
    {{input value=title id="title" placeholder="Title" class='form-control'}}
    <br>
    {{input value=story id="story" placeholder="Story" class='form-control'}}
  </div>
  <button class='btn btn-primary' {{action 'savePost' class 'btn btn-primary'}}>Submit</button>
</form>
{{else}}
<button class='btn btn-primary' {{action 'newPost'}}>New Post</button>
{{/if}}
